
<div class="row">
	<div class="container">
		<h2>Dashboard</h2>
		<hr />
		<div class="row shrt-cuts">
			<!-- >div class="col-lg-12">
				<a href="#/createpatch" class="btn btn-default btn-lg" role="button"><span class="fa fa-cube"></span> <br>Create Patch</a>
				<a href="#" class="btn btn-danger btn-lg" role="button"><span class="fa fa-cubes"></span> <br>Create Service Pack</a>
			</div-->
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-4">
					<div class="panel panel-default card">
						<div class="panel-body">
							<div>Environments</div>
								<ul class="list-group" style="margin-top:25px;text-align:left;">
								  <li ng-click="updateDetails(item)" class="list-group-item" ng-repeat="item in items">{{item.envName}}<span style="font-size:12px;" class="label pull-right" ng-class="{ 'label-success':item.status, 'label-danger': !item.status}">{{item.status ? 'Running' : 'Down'}}</span></li>
								</ul>
						</div>
						<a class="btn btn-info push-to-bottom" href="#/manage-env">Manage Environment</a>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="panel panel-default card">
						<div class="panel-body">
							<div>Details</div>
							<div class="details" style="margin-top:25px;">
								<table class="table table-striped">
									<tr><th>Environment</th><th>{{env.envName}}</th></tr>
									<tr><td>Framework Version</td><td>{{env.fwVersion}}</td></tr>
									<tr><td>CCB Version</td><td>{{env.envVersion}}</td></tr>
								</table>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="panel panel-default card">
						<div class="panel-body">
							<div>Deployment Details</div>
							<div class="details" style="margin-top:25px;">
							    <div class="text-info" style="font-size:60px;">{{env.totalNumOfPackages}}</div>
							    <div class="text-info">Packages currently installed</div>
								<table class="table">
									<tr><td colspan="2">{{env.continuesDeploy ? 'Environment is set in Continuous Deployment mode':'Environment is not set in Continuous Deployment mode'}}</td></tr>
									<tr><td>Next Schedule</td><td class="text-warning">{{env.nextDeployment | date:'medium'}}</td></tr>
								</table>
							</div>
							<a class="btn btn-primary push-to-bottom" href="#/applied-packages">Applied Packages</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>		
		
		<div style="display:none;" class="panel panel-default">
			<div class="panel-body">





				<table class="table table-striped">
					<tr>
						<th>Select</th>
						<th>Description</th>
						<th>Environment</th>
						<th>Destination</th>
						<th>Created Date</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
					</tr>
					<tr ng-repeat="str in strarrays">
						<td><input type="checkbox"></td>
						<td>{{str.desc}}</td>
						<td>{{str.env.envName}}</td>
						<td>{{str.env.envPath}}</td>
						<td>{{str.createdBy}}</td>
						<td>{{str.status}}</td>
						<td>
						<div class="btn-group" role="group" aria-label="...">
						  <button type="button" class="btn btn-default"><i class="fa fa-trash"></i></button>
						  <button type="button" class="btn btn-default"><i class="fa fa-list-alt"></i></button>
						</div>
						<!--input type="button" class="btn btn-sm btn-primary" value="Delete" checked="checked" submit="alert('test')"-->
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<style>
.shrt-cuts .btn:not(.btn-block) {
    margin-bottom: 10px;
}
</style>
